trace.xcworkspace/xcuserdata/itp312.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/itp312.xcuserdatad/xcschemes/xcschememanagement.plist
trace.xcodeproj/xcuserdata/itp312.xcuserdatad/xcschemes/